version: '3'
services:
  spark:
    build:
      context: .
      dockerfile: Dockerfile.spark
    ports:
      - "7077:7077"
      - "8081:8080"  
      - "6066:6066"

  postgres:
    build:
      context: .
      dockerfile: Dockerfile.postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD: 
      POSTGRES_DB: sistema_irrigacao

  metabase:
    image: metabase/metabase
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: sistema_irrigacao
      MB_DB_PORT: 5432
      MB_DB_USER: 
      MB_DB_PASS: 
      MB_DB_HOST: 

